<div class="flex flex-1 justify-center text-neutral text-3xl w-[5rem]">
  <div class="flex items-center p-10 gap-5">
    <%= link_to 'https://github.com/shuynh3', target: :_blank,
                class: 'transition duration-100 hover:scale-125' do %>
      <i class="fa-brands fa-github"></i>
    <% end %>

    <%= link_to 'https://www.linkedin.com/in/sonny-huynh-0/', target: :_blank,
                class: 'transition duration-100 hover:scale-125' do %>
      <i class="fa-brands fa-linkedin"></i>
    <% end %>

    <%= link_to 'https://www.instagram.com/sonny.huynh/', target: :_blank,
                class: 'transition duration-100 hover:scale-125' do %>
      <i class="fa-brands fa-instagram"></i>
    <% end %>

    <%= link_to '/', target: :_blank,
                class: 'transition duration-100 hover:scale-125' do %>
      <i class="fa-solid fa-envelope"></i>
    <% end %>

    <%= link_to '/', target: :_blank,
                class: 'transition duration-100 hover:scale-125' do %>
      <i class="fa-solid fa-circle-question"></i>
    <% end %>
  </div>
</div>