<!DOCTYPE html>
<html>
  <head>
    <title>Sonny Huynh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex h-screen w-screen">
    <%= render 'shared/sidebar' %>

    <main class="flex flex-1 w-[80%] bg-base">
      <%= yield %>
    </main>

    <div class="flex flex-col items-center p-10 gap-5 bg-neutral text-white w-[5rem]">
      <div class="text-white h-5 w-5">
        <i class="fa-brands fa-github"></i>
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
  </body>
</html>
