<!DOCTYPE html>
<html>
  <head>
    <title>Sonny Huynh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex h-screen w-screen flex-col items-center bg-gray-100">
    <%= render 'shared/navbar' %>

    <main class="flex flex-1 max-w-[1280px] bg-white">
      <%= yield %>
    </main>
  </body>
</html>
